name: Terraform

on:
  workflow_dispatch:

  pull_request:
    types: [opened]

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        actions: read
        pull-requests: write
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
        
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
        
      - name: terraform
        env:
            TF_VAR_POLICY_CLIENT_ID: ${{ secrets.TF_VAR_POLICY_CLIENT_ID }}
            TF_VAR_POLICY_SECRET_KEY: ${{ secrets.TF_VAR_POLICY_SECRET_KEY }}
            TF_VAR_APPSEC_CLIENT_ID: ${{ secrets.TF_VAR_APPSEC_CLIENT_ID }}
            TF_VAR_APPSEC_SECRET_KEY: ${{ secrets.TF_VAR_APPSEC_SECRET_KEY }}
            TF_VAR_CLOUDFLARE_DNS_API_TOKEN: ${{ secrets.TF_VAR_CLOUDFLARE_DNS_API_TOKEN }}
            TF_VAR_CLOUDFLARE_DNS_ZONEID: ${{ secrets.TF_VAR_CLOUDFLARE_DNS_ZONEID }}
            TF_VAR_profile_id: ${{ secrets.TF_VAR_PROFILE_ID }}
            PROJECT_ID: ${{ secrets.PROJECT_ID }}
            TF_USERNAME: ${{ secrets.TF_USERNAME }}
            TF_PASSWORD: ${{ secrets.TF_PASSWORD }}
        run: |
          export TF_ADDRESS="https://gitlab.com/api/v4/projects/${PROJECT_ID}/terraform/state/tf_state2"
          cd 01-webapps
          terraform init \
            -backend-config=address=${TF_ADDRESS} \
            -backend-config=lock_address=${TF_ADDRESS}/lock \
            -backend-config=unlock_address=${TF_ADDRESS}/lock \
            -backend-config=username=${TF_USERNAME} \
            -backend-config=password=${TF_PASSWORD} \
            -backend-config=lock_method=POST \
            -backend-config=unlock_method=DELETE \
            -backend-config=retry_wait_min=5  
          terraform validate; 
          terraform plan -var publish=true -out=../tfplan -input=false -no-color
          terraform apply -auto-approve  ../tfplan
          cd ..
          cd 02-dns
          terraform init \
            -backend-config=address=${TF_ADDRESS} \
            -backend-config=lock_address=${TF_ADDRESS}/lock \
            -backend-config=unlock_address=${TF_ADDRESS}/lock \
            -backend-config=username=${TF_USERNAME} \
            -backend-config=password=${TF_PASSWORD} \
            -backend-config=lock_method=POST \
            -backend-config=unlock_method=DELETE \
            -backend-config=retry_wait_min=5  
          terraform validate; 
          terraform plan -out=../tfplan-dns -input=false -no-color
          terraform apply -auto-approve ../tfplan-dns 
          cd ..

      # generate plain output
      #- run: terraform show -no-color tfplan > terraform.text

      # generate json output
      #- run: terraform show -json tfplan > terraform.json

    #   - uses: ahmadnassri/action-terraform-report@v3
    #     with:
    #       # tell the action the plan outputs
    #       terraform-text: ${{ github.workspace }}/terraform.text
    #       terraform-json: ${{ github.workspace }}/terraform.json
    #       remove-stale-reports: true

    #   - name: Save TF plan
    #     uses: actions/upload-artifact@v3
    #     with:
    #       name: tfplan
    #       path: tfplan
    #     continue-on-error: true      

    #   - name: Save TF plan JSON
    #     uses: actions/upload-artifact@v3
    #     with:
    #       name: tfplanjson
    #       path: tfplan.json
    #     continue-on-error: true

    #   - name: Save TF state
    #     uses: actions/upload-artifact@v3
    #     with:
    #       name: tfstate
    #       path: 01-webapps/terraform.tfstate
    #     continue-on-error: true

    #   - name: Save TF state DNS
    #     uses: actions/upload-artifact@v3
    #     with:
    #       name: tfstate-dns
    #       path: 02-dns/terraform.tfstate
    #     continue-on-error: true